/* line 1, sass/main.scss */
html {
  width: 100%;
  font-size: 1em;
}

/* line 6, sass/main.scss */
#master-container {
  width: 1000px;
  margin: 0 auto;
  background-color: red;
}

/* line 12, sass/main.scss */
#timeline-container {
  width: 80%;
  background-color: blue;
}
