/* line 3, sass/main.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 3, sass/main.scss */
body {
  line-height: 1;
}

/* line 3, sass/main.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 3, sass/main.scss */
nav ul {
  list-style: none;
}

/* line 3, sass/main.scss */
blockquote, q {
  quotes: none;
}

/* line 3, sass/main.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 3, sass/main.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 3, sass/main.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 3, sass/main.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 3, sass/main.scss */
del {
  text-decoration: line-through;
}

/* line 3, sass/main.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 3, sass/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 3, sass/main.scss */
input, select {
  vertical-align: middle;
}

/* line 10, sass/main.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 58, sass/main.scss */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('xml/ellipsis.xml#ellipsis');
}

/* line 63, sass/main.scss */
.shadow {
  -webkit-box-shadow: black 5px 5px 5px;
  -moz-box-shadow: black 5px 5px 5px;
  box-shadow: black 5px 5px 5px;
}

/* line 92, sass/main.scss */
.author_McCartney {
  fill: #ffce06;
}

/* line 96, sass/main.scss */
.author_Lennon {
  fill: #57caef;
}

/* line 100, sass/main.scss */
.author_Harrison {
  fill: #74c044;
}

/* line 104, sass/main.scss */
.author_Starr {
  fill: #ee3766;
}

/* line 108, sass/main.scss */
.author_Other {
  fill: #555244;
}

/* line 131, sass/main.scss */
.segment_intro,
.segment_outro,
.segment_outro_a,
.segment_outro_b,
.segment_outro_--fade-out--,
.segment_silence,
.segment_postscript,
.segment_closing {
  fill: #555244;
}

/* line 158, sass/main.scss */
.segment_verse,
.segment_versea,
.segment_verseb,
.segment_verse_b_guitar,
.segment_verse_a,
.segment_verse_b,
.segment_verse_--initial--,
.segment_verse_--variant--,
.segment_verse_--variant_1--,
.segment_verse_--variant_2--,
.segment_verse_--variant_2_with_ending--,
.segment_verse_refrain,
.segment_verseguitar,
.segment_verse_guitar,
.segment_verse_instr,
.segment_verse_piano,
.segment_verse_--guitar_solo--,
.segment_verse_--half_solo--,
.segment_verse_half_solo,
.segment_verse_-_break,
.segment_verse_with_ending,
.segment_verse_outro,
.segment_outro_verse {
  background-color: #57caef;
  background-image: radial-gradient(#ffffff 20%, transparent 22%), radial-gradient(#ffffff 20%, transparent 22%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  fill: #57caef;
}

/* line 172, sass/main.scss */
.segment_chorus,
.segment_refrain,
.segment_refrain_trans,
.segment_refrain_solo,
.segment_refrain_a,
.segment_refrain_b,
.segment_refrain_b_fade,
.segment_verseb_MD_or_chorus {
  fill: #ffce06;
}

/* line 182, sass/main.scss */
.segment_instrumental,
.segment_verse_guitar_solo,
.segment_sitar_solo,
.segment_guitar_solo,
.segment_verse_instrumental,
.segment_vocal,
.segment_verse_instrumental_solo {
  fill: #ee3766;
}

/* line 186, sass/main.scss */
.segment_refrain_with_ending {
  fill: lightblue;
}

/* line 197, sass/main.scss */
.segment_bridge,
.segment_bridge_--solo--,
.segment_bridge_instru,
.segment_bridge_instr,
.segment_bridge_with_ending,
.segment_break,
.segment_bridge_re_intro {
  fill: #ee3766;
}

/* line 206, sass/main.scss */
html {
  width: 100%;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: #1e1e1a;
  color: #fff8cd;
}
/* line 216, sass/main.scss */
html a {
  color: #fff8cd;
}
/* line 219, sass/main.scss */
html a:hover {
  color: #74c044;
}

/* line 225, sass/main.scss */
#master-container {
  overflow: hidden;
  *zoom: 1;
  max-width: 64rem;
  margin: 0 auto;
  padding: 1rem;
}

/* line 236, sass/main.scss */
#site-header {
  height: auto;
  min-height: 1.5rem;
}
/* line 239, sass/main.scss */
#site-header #site-title-container {
  width: 75%;
  float: left;
}
/* line 247, sass/main.scss */
#site-header #nav-timeline-container {
  width: 25%;
  float: right;
}

/* line 259, sass/main.scss */
#timeline-header-container {
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff8cd;
  margin-bottom: 0.5rem;
}

/* line 279, sass/main.scss */
#timeline-view-switcher {
  font-size: 1rem;
  font-weight: 100;
}

/* line 287, sass/main.scss */
#timeline-container {
  float: left;
  width: 75%;
}
/* line 292, sass/main.scss */
#timeline-container #big-timeline-container .album-label-container {
  width: 100%;
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
/* line 293, sass/main.scss */
#timeline-container #big-timeline-container .album-label-container .album-label {
  font-size: 1.5rem;
  font-weight: 500;
  display: inline;
}
/* line 298, sass/main.scss */
#timeline-container #big-timeline-container .album-label-container .album-year-label {
  font-size: 1.5rem;
  font-weight: 100;
  padding-left: .5rem;
}
/* line 310, sass/main.scss */
#timeline-container #big-timeline-container .track-container {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 314, sass/main.scss */
#timeline-container #big-timeline-container .track-container p.year-mark-label {
  display: none;
}
/* line 317, sass/main.scss */
#timeline-container #big-timeline-container .track-container .track-title-container {
  float: left;
}
/* line 319, sass/main.scss */
#timeline-container #big-timeline-container .track-container .track-title-container .track-title-label {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('xml/ellipsis.xml#ellipsis');
  font-size: .6em;
  font-weight: normal;
}
/* line 324, sass/main.scss */
#timeline-container #big-timeline-container .track-container .track-title-container .track-title-label {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}
/* line 330, sass/main.scss */
#timeline-container #big-timeline-container .track-container .svg-track-container {
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-bottom: .15rem;
}
/* line 337, sass/main.scss */
#timeline-container #big-timeline-container .track-container .svg-track-container .segment-label {
  font-size: .6em;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}
/* line 343, sass/main.scss */
#timeline-container #big-timeline-container .track-container .svg-track-container svg.track {
  display: block;
  margin-bottom: 0rem;
}
/* line 354, sass/main.scss */
#timeline-container #tiny-container .tiny-album-separator {
  margin-top: .25rem;
}
/* line 357, sass/main.scss */
#timeline-container #tiny-container svg.tiny-track {
  display: block;
  margin-bottom: 0rem;
}

/* line 369, sass/main.scss */
.timeline-container-desktop {
  width: 80%;
  float: left;
}

/* line 389, sass/main.scss */
#context-module-mobile {
  background-color: #1e1e1a;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff8cd;
}
/* line 393, sass/main.scss */
#context-module-mobile #context-nav-mobile {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
/* line 397, sass/main.scss */
#context-module-mobile .legend-column {
  width: 50%;
  float: left;
}

/* line 411, sass/main.scss */
#legend-content-container-mobile .legend-column .legend-item {
  margin-top: 0.5rem;
  line-height: 1rem;
}
/* line 414, sass/main.scss */
#legend-content-container-mobile .legend-column .legend-item .legend-icon {
  width: 0.75rem;
  height: 0.75rem;
  min-width: 0.75rem;
  min-height: 0.75rem;
  float: left;
  margin-right: 0.25rem;
}
/* line 424, sass/main.scss */
#legend-content-container-mobile .legend-column .legend-item .legend-item-label p {
  font-weight: 100;
}

/* line 438, sass/main.scss */
#context-module-sidebar-container {
  float: left;
  width: 25%;
  padding-top: 1.5rem;
  height: 100%;
}

/* line 448, sass/main.scss */
#context-module-sidebar {
  float: left;
  padding-top: 2rem;
  height: 100%;
  height: 40rem;
}

/* line 455, sass/main.scss */
#notes-container-sidebar {
  margin-top: 2rem;
  height: 100%;
  overflow-y: scroll;
}

/* line 465, sass/main.scss */
#legend-content-container {
  width: 16rem;
}
/* line 468, sass/main.scss */
#legend-content-container .legend-column .legend-item {
  margin-top: 0.5rem;
  line-height: 1rem;
}
/* line 471, sass/main.scss */
#legend-content-container .legend-column .legend-item .legend-icon {
  width: 0.75rem;
  height: 0.75rem;
  min-width: 0.75rem;
  min-height: 0.75rem;
  float: left;
  margin-right: 0.25rem;
}
/* line 479, sass/main.scss */
#legend-content-container .legend-column .legend-item .legend-item-label {
  display: block;
}
/* line 483, sass/main.scss */
#legend-content-container .legend-column .legend-item .legend-item-label p {
  font-weight: 100;
}

/* line 494, sass/main.scss */
#legend-icon-intro {
  background-color: #555244;
}

/* line 497, sass/main.scss */
#legend-icon-verse {
  background-color: #57caef;
}

/* line 500, sass/main.scss */
#legend-icon-chorus {
  background-color: #ffce06;
}

/* line 503, sass/main.scss */
#legend-icon-bridge {
  background-color: #ee3766;
}

/* line 506, sass/main.scss */
#legend-icon-unique {
  background-color: #74c044;
}

/* line 509, sass/main.scss */
#legend-icon-variation {
  background-color: #74c044;
}

/* line 512, sass/main.scss */
#legend-icon-instrumentation {
  background-color: #74c044;
}

/* line 526, sass/main.scss */
.context-module-desktop {
  width: 20%;
  float: right;
  height: 100%;
}

@media (max-width: 40rem) {
  /* line 538, sass/main.scss */
  #site-header {
    border-bottom: 3px solid #fff8cd;
    margin-bottom: 0.5rem;
  }

  /* line 543, sass/main.scss */
  #site-title {
    text-decoration: none;
  }
  /* line 545, sass/main.scss */
  #site-title :hover {
    color: #fff8cd;
  }
  /* line 548, sass/main.scss */
  #site-title h1 {
    font-size: 1rem;
    font-weight: 500;
  }

  /* line 554, sass/main.scss */
  #meta-content-container {
    margin-bottom: 9rem;
  }

  /* line 561, sass/main.scss */
  .track-title-container h6 {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -moz-binding: url('xml/ellipsis.xml#ellipsis');
  }

  /* line 564, sass/main.scss */
  #timeline-title {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: .5rem;
  }

  /* line 570, sass/main.scss */
  #notes-content-container-mobile {
    max-height: 10rem;
    overflow-y: scroll;
  }

  /* line 577, sass/main.scss */
  #timeline-intro {
    width: 75%;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5rem;
  }
}
/* Medium screens (640px) */
@media (min-width: 40rem) {
  /* line 590, sass/main.scss */
  #site-header {
    padding-bottom: 2rem;
    border-bottom: 3px solid #fff8cd;
    margin-bottom: 0.5rem;
  }

  /* line 597, sass/main.scss */
  #site-title {
    text-decoration: none;
  }
  /* line 599, sass/main.scss */
  #site-title :hover {
    color: #fff8cd;
  }
  /* line 602, sass/main.scss */
  #site-title h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  /* line 607, sass/main.scss */
  #timeline-title {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: .5rem;
  }

  /* line 614, sass/main.scss */
  .track-title-label {
    font-size: .8em;
  }

  /* line 618, sass/main.scss */
  #notes-container {
    height: 100%;
  }

  /* line 621, sass/main.scss */
  #timeline-intro {
    width: 75%;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.75rem;
  }
}
@media (max-width: 64rem) {
  /* line 635, sass/main.scss */
  .track-title-container {
    width: 25%;
    float: left;
  }

  /* line 639, sass/main.scss */
  .svg-track-container {
    width: 75%;
    float: left;
  }
}
/* Large screens (1024px) */
@media (min-width: 64rem) {
  /* line 649, sass/main.scss */
  .album-label-container {
    padding-left: 10.11%;
  }

  /* line 652, sass/main.scss */
  .year-mark-container {
    display: block;
    float: left;
    width: 10.11%;
    position: relative;
  }
  /* line 659, sass/main.scss */
  .year-mark-container p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    display: block;
    width: 100;
    font-size: 1.5rem;
    line-height: 1.5rem;
    overflow: visible;
    vertical-align: text-top;
    font-weight: 300;
    letter-spacing: -.1rem;
  }

  /* line 674, sass/main.scss */
  .track-title-container {
    float: left;
    width: 22.22%;
  }

  /* line 679, sass/main.scss */
  .svg-track-container {
    float: right;
    width: 66.66%;
  }
}
