/* line 3, sass/main.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 3, sass/main.scss */
body {
  line-height: 1;
}

/* line 3, sass/main.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 3, sass/main.scss */
nav ul {
  list-style: none;
}

/* line 3, sass/main.scss */
blockquote, q {
  quotes: none;
}

/* line 3, sass/main.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 3, sass/main.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 3, sass/main.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 3, sass/main.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 3, sass/main.scss */
del {
  text-decoration: line-through;
}

/* line 3, sass/main.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 3, sass/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 3, sass/main.scss */
input, select {
  vertical-align: middle;
}

/* line 8, sass/main.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 56, sass/main.scss */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('xml/ellipsis.xml#ellipsis');
}

/* line 61, sass/main.scss */
.shadow {
  -webkit-box-shadow: black 5px 5px 5px;
  -moz-box-shadow: black 5px 5px 5px;
  box-shadow: black 5px 5px 5px;
}

/* line 65, sass/main.scss */
html {
  width: 100%;
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 80, sass/main.scss */
.author_McCartney {
  fill: yellow;
}

/* line 84, sass/main.scss */
.author_Lennon {
  fill: blue;
}

/* line 88, sass/main.scss */
.author_Harrison {
  fill: green;
}

/* line 92, sass/main.scss */
.author_Starr {
  fill: pink;
}

/* line 96, sass/main.scss */
.author_Other {
  fill: grey;
}

/* line 121, sass/main.scss */
.segment_intro,
.segment_outro,
.segment_outro_a,
.segment_outro_b,
.segment_outro_--fade-out--,
.segment_silence,
.segment_postscript,
.segment_closing {
  fill: grey;
}

/* line 148, sass/main.scss */
.segment_verse,
.segment_versea,
.segment_verseb,
.segment_verse_b_guitar,
.segment_verse_a,
.segment_verse_b,
.segment_verse_--initial--,
.segment_verse_--variant--,
.segment_verse_--variant_1--,
.segment_verse_--variant_2--,
.segment_verse_--variant_2_with_ending--,
.segment_verse_refrain,
.segment_verseguitar,
.segment_verse_guitar,
.segment_verse_instr,
.segment_verse_piano,
.segment_verse_--guitar_solo--,
.segment_verse_--half_solo--,
.segment_verse_half_solo,
.segment_verse_-_break,
.segment_verse_with_ending,
.segment_verse_outro,
.segment_outro_verse {
  background-color: red;
  background-image: radial-gradient(#ffffff 20%, transparent 22%), radial-gradient(#ffffff 20%, transparent 22%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  fill: red;
}

/* line 162, sass/main.scss */
.segment_chorus,
.segment_refrain,
.segment_refrain_trans,
.segment_refrain_solo,
.segment_refrain_a,
.segment_refrain_b,
.segment_refrain_b_fade,
.segment_verseb_MD_or_chorus {
  fill: cyan;
}

/* line 172, sass/main.scss */
.segment_instrumental,
.segment_verse_guitar_solo,
.segment_sitar_solo,
.segment_guitar_solo,
.segment_verse_instrumental,
.segment_vocal,
.segment_verse_instrumental_solo {
  fill: green;
}

/* line 176, sass/main.scss */
.segment_refrain_with_ending {
  fill: lightblue;
}

/* line 187, sass/main.scss */
.segment_bridge,
.segment_bridge_--solo--,
.segment_bridge_instru,
.segment_bridge_instr,
.segment_bridge_with_ending,
.segment_break,
.segment_bridge_re_intro {
  fill: green;
}

/* line 195, sass/main.scss */
.track-title-label, .segment-label {
  text-transform: uppercase;
}

/* line 199, sass/main.scss */
.track-title-label {
  font-size: .6em;
  font-weight: normal;
}

/* line 204, sass/main.scss */
.segment-label {
  font-size: .6em;
}

/* line 208, sass/main.scss */
.album-title-label {
  font-size: 1.5em;
  padding-top: 1em;
  display: inline;
}

/* line 214, sass/main.scss */
.album-title-container {
  width: 100%;
  overflow: hidden;
  padding-top: 3rem;
}

/* line 226, sass/main.scss */
#master-container {
  max-width: 900px;
  margin: 0 auto;
}

/* line 232, sass/main.scss */
#site-header {
  padding-bottom: 1rem;
}

/* line 236, sass/main.scss */
#context-module {
  background-color: silver;
}

/* line 243, sass/main.scss */
.context-module-desktop {
  width: 20%;
  float: right;
  height: 100%;
}

/* line 250, sass/main.scss */
.timeline-container-desktop {
  width: 80%;
  float: left;
}

/* line 256, sass/main.scss */
#timeline-header-container {
  padding-bottom: 3rem;
}

/* line 262, sass/main.scss */
svg.tiny-track, svg.track {
  display: block;
  margin-bottom: 0rem;
}

/* line 269, sass/main.scss */
#timeline-container #tiny-container .tiny-album-separator {
  margin-top: .25rem;
}
/* line 276, sass/main.scss */
#timeline-container #big-timeline-container .album-label-container {
  width: 100%;
  overflow: hidden;
}
/* line 279, sass/main.scss */
#timeline-container #big-timeline-container .album-label-container h3 {
  display: inline;
}
/* line 284, sass/main.scss */
#timeline-container #big-timeline-container .track-container {
  width: 100%;
  display: block;
  overflow: hidden;
}
/* line 290, sass/main.scss */
#timeline-container #big-timeline-container .track-container .track-title-container {
  float: left;
}
/* line 294, sass/main.scss */
#timeline-container #big-timeline-container .track-container .track-title-container h6 {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('xml/ellipsis.xml#ellipsis');
}
/* line 299, sass/main.scss */
#timeline-container #big-timeline-container .track-container .svg-track-container {
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-bottom: 0.15rem;
}

/* line 312, sass/main.scss */
p.year-mark-label {
  display: none;
}

@media (max-width: 40rem) {
  /* line 317, sass/main.scss */
  .track-title-container h6 {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -moz-binding: url('xml/ellipsis.xml#ellipsis');
  }

  /* line 321, sass/main.scss */
  #notes-container {
    max-height: 10rem;
    overflow-y: scroll;
  }
}
/* Medium screens (640px) */
@media (min-width: 40rem) {
  /* line 332, sass/main.scss */
  .track-title-label {
    font-size: .8em;
  }

  /* line 336, sass/main.scss */
  #notes-container {
    height: 100%;
  }
}
@media (max-width: 64rem) {
  /* line 344, sass/main.scss */
  .track-title-container {
    width: 25%;
    float: left;
  }

  /* line 348, sass/main.scss */
  .svg-track-container {
    width: 75%;
    float: left;
  }
}
/* Large screens (1024px) */
@media (min-width: 64rem) {
  /* line 356, sass/main.scss */
  .album-label-container {
    padding-left: 10.11%;
  }

  /* line 359, sass/main.scss */
  .year-mark-container {
    display: block;
    float: left;
    width: 10.11%;
  }
  /* line 360, sass/main.scss */
  .year-mark-container p {
    display: block;
    width: 100;
    font-size: 2rem;
    line-height: 1.5rem;
    overflow: visible;
    vertical-align: text-top;
    font-weight: 300;
    letter-spacing: -.1rem;
  }

  /* line 376, sass/main.scss */
  .track-title-container {
    float: left;
    width: 22.22%;
  }

  /* line 381, sass/main.scss */
  .svg-track-container {
    float: right;
    width: 66.66%;
  }
}
