/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

body {
  font-family: helvetica;
}
.segment_silence {
  fill: white;
}

.segment_intro, .segment_outro {
  fill: grey;
}

.segment_verse, .segment_verse_-_break, .segment_outro_verse {
  fill: red;
}

.segment_instrumental, .segment_verse_guitar_solo, .segment_sitar_solo, .segment_verse_instrumental, .segment_verse_instrumental_solo {
  fill: orange;
}

.segment_chorus {
  fill: blue;
}

.segment_refrain {
  fill: cyan;
}

.segment_refrain_with_ending {
  fill: lightblue;
}

.segment_bridge, .segment_bridge_with_ending {
  fill: green;
}

/*.song-row {
  margin-top:40px;
}*/

.track-title-label, .segment-label {
  text-transform: uppercase;
}

.track-title-label {
  font-size: .8em;
  font-weight: bold;
}

.segment-label {
  font-size: .6em;
}

.album-title-label {
  font-size: 1.5em;
  padding-top: 1em;
}


.timeline-container{
  background-color: grey;
}

.album-container{
  background-color: dark-grey;
}

.song-container{
  background-color: silver;
}

.song-label{
  background-color: silver;
}

.song-svg-container{
  background-color: red;
  height: 30px;
}



.album-container2{
  background-color: blue;
  height: 50px;
  min-height: 20px;
}