@import 'compass/css3';
// @import 'compass/reset';
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

$use-mozilla-ellipsis-binding: true;
@import "compass/typography/text/ellipsis";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@mixin pattern-dots() {
      background:
        -moz-radial-gradient(white 15%, transparent 16%),
        -moz-radial-gradient(white 15%, transparent 16%),
        black;
    background:
        -webkit-radial-gradient(white 15%, transparent 16%),
        -webkit-radial-gradient(white 15%, transparent 16%),
        black;
    background-position: 0 0, 80px 80px;
    
    -webkit-background-size:160px 160px;
    -moz-background-size:160px 160px;
    background-size:160px 160px;
}

@mixin pattern-dots2(){
  background-color:#001;
  background-image: radial-gradient(white 15%, transparent 16%),
  radial-gradient(white 15%, transparent 16%);
  background-size:60px 60px;
  background-position: 0 0, 30px 30px;
}

@mixin pattern-dots3($dotSize){
  // background-color: $verse;
  background-image: radial-gradient(white $dotSize * 1%, transparent $dotSize * 1% + 1%),
  radial-gradient(white $dotSize * 1%, transparent $dotSize * 1% + 1%);
  background-size:$dotSize * 4px $dotSize * 4px;
  background-position: 0 0, $dotSize * 2px $dotSize * 2px;
}

@mixin pattern-dots4($dotSize){
  // background-color: $verse;
  background-image:
  radial-gradient(white $dotSize * 4%, transparent $dotSize * 4% + 2%),
  radial-gradient(white $dotSize * 4%, transparent $dotSize * 4% + 2%);
  background-size:$dotSize * 2px $dotSize * 2px;
  background-position: 0 0, $dotSize * 1px $dotSize * 1px;
}

.ellipsis {
  @include ellipsis;
}


.shadow {
  @include box-shadow(#000 5px 5px 5px);
}

html {
  // @include box-sizing(border-box);
  width: 100%;
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;
}



// *************** Segment color variables

$intro-outro: grey;
$verse: red;
$chorus: cyan;
$bridge: green;

$silence: white;

$instrumental: orange;


.segment_intro,
.segment_outro,
.segment_outro_--fade-out--,
.segment_silence {
  fill: $intro-outro;
}

.segment_verse,
.segment_versea,
.segment_verseb, //TODO: VARIATION1
.segment_verseguitar, //TODO: INSTRUMENTATION1??
.segment_verse_--guitar_solo--, //TODO: INSTRUMENTATION1??
.segment_verse_-_break,
.segment_outro_verse {
  background-color: $verse;
  @include pattern-dots4(5);
  fill: $verse;
}

.segment_chorus,
.segment_verseb_MD_or_chorus //TODO: from saw her standing there
{
  fill: blue;
}

.segment_refrain {
  fill: $chorus;
}

.segment_instrumental,
.segment_verse_guitar_solo,
.segment_sitar_solo,
.segment_verse_instrumental,
.segment_verse_instrumental_solo {
  fill: $instrumental;
}

.segment_refrain_with_ending {
  fill: lightblue;
}

.segment_bridge,
.segment_bridge_with_ending {
  fill: $bridge;
}



// *************** Label typography

.track-title-label, .segment-label {
  text-transform: uppercase;
}

.track-title-label {
  font-size: .6em;
  font-weight: normal;
}

.segment-label {
  font-size: .6em;
}

.album-title-label {
  font-size: 1.5em;
  padding-top: 1em;
  display:inline;
}

.album-title-container {
  width: 100%;
  overflow: hidden;
  padding-top: 3rem;
}




// *************** Grid


#master-container{
  max-width: 900px;
  margin: 0 auto;
}


#site-header{
  padding-bottom: 1rem
}

#context-module {
  background-color: silver;
  // background-color: $verse;
  // @include pattern-dots4(5);
}


.context-module-desktop {
  width: 20%;
  float: right;
  height: 100%;
  // right:0;
}

.timeline-container-desktop {
  width: 80%;
  float: left;
}


#timeline-header-container{
  padding-bottom: 3rem
}



svg.tiny-track, svg.track{
  display: block;
  margin-bottom: 0rem;
}

#timeline-container {
  #tiny-container{
    .tiny-album-separator{
      margin-top:.25rem;
    }

  }

  #big-timeline-container{
    .album-label-container{
      width: 100%;
      overflow: hidden;
      h3{
        display:inline
      }
    }

    .track-container{

      width: 100%;
      display: block;
      overflow: hidden;

      .track-title-container{
        // width:25%;
        float: left;

        h6{
          @include ellipsis;
        }

      }
      .svg-track-container{
        // width: 75%;
        // float: left;
        overflow: hidden;
        padding: 0;
        margin: 0;
        margin-bottom: .15rem
      }
    }
  }  
}


  p.year-mark-label{
    display: none;
  }

@media (max-width: 40rem) {
  .track-title-container h6{
    @include ellipsis;
  }

  #notes-container {
    max-height:10rem;
    overflow-y: scroll;
  }

}


/* Medium screens (640px) */
@media (min-width: 40rem) { 

  .track-title-label {
    font-size: .8em;
  }

  #notes-container {
    height: 100%;
  }

}


@media (max-width: 64rem) {
  .track-title-container{
    width:25%;
    float:left;
  }
  .svg-track-container{
    width: 75%;
    float: left;
  }
}

/* Large screens (1024px) */
@media (min-width: 64rem) { 
  .album-label-container{
    padding-left: 10.11%;
  }
  .year-mark-container {
    p{
      display: block;
      width: 100;
      // position: relative;
      font-size: 2rem;
      line-height: 1.5rem;
      overflow: visible;
      vertical-align: text-top;
      font-weight: 300;
      letter-spacing: -.1rem;
    }
    display: block;
    float: left;
    width: 10.11%
  }

  .track-title-container{
    float: left;
    width: 22.22%
  }

  .svg-track-container{
    float: right;
    width: 66.66%;
  }
}



