/* line 6, sass/main.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 6, sass/main.scss */
body {
  line-height: 1;
}

/* line 6, sass/main.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 6, sass/main.scss */
nav ul {
  list-style: none;
}

/* line 6, sass/main.scss */
blockquote, q {
  quotes: none;
}

/* line 6, sass/main.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 6, sass/main.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 6, sass/main.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 6, sass/main.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 6, sass/main.scss */
del {
  text-decoration: line-through;
}

/* line 6, sass/main.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 6, sass/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 6, sass/main.scss */
input, select {
  vertical-align: middle;
}

/* line 11, sass/main.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, sass/main.scss */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('xml/ellipsis.xml#ellipsis');
}

/* line 24, sass/main.scss */
html {
  width: 100%;
  font-size: 1em;
}

/* line 29, sass/main.scss */
#master-container {
  width: 1000px;
  margin: 0 auto;
}

/* line 34, sass/main.scss */
#timeline-container {
  width: 80%;
}

/* line 57, sass/main.scss */
.segment_intro, .segment_outro, .segment_silence {
  fill: grey;
}

/* line 61, sass/main.scss */
.segment_verse, .segment_verse_-_break, .segment_outro_verse {
  fill: red;
}

/* line 65, sass/main.scss */
.segment_chorus {
  fill: blue;
}

/* line 69, sass/main.scss */
.segment_refrain {
  fill: cyan;
}

/* line 73, sass/main.scss */
.segment_instrumental, .segment_verse_guitar_solo, .segment_sitar_solo, .segment_verse_instrumental, .segment_verse_instrumental_solo {
  fill: orange;
}

/* line 77, sass/main.scss */
.segment_refrain_with_ending {
  fill: lightblue;
}

/* line 81, sass/main.scss */
.segment_bridge, .segment_bridge_with_ending {
  fill: green;
}

/* line 89, sass/main.scss */
.tiny-album-container {
  padding-top: .25rem;
}

/* line 93, sass/main.scss */
.tiny-track-container, .tiny-track {
  display: block;
  margin: 0;
  padding: 0;
}
